h1 {
    font-size: 30px;
   font-family: 'Kanit', sans-serif;
    margin-bottom: 0cap;
    margin-top: 10cap;
}

p {
    font-size: large;
}

#song {
    width: 70%;
    margin-bottom: -1cap;
    margin-top: 0cap;

}

body {
    text-align: center;
     margin: 0;
    border-bottom-left-radius: 50;
     
}

body::before {
    
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 247, 247, 0.4);
 
}

.bg {
  position: fixed;
  inset: 0;
  background-image: url("https://media1.tenor.com/m/WBDOBnaOGtkAAAAC/falling-pink-hearts.gif");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -2;
}

/* กล่องสีขาวตรงกลาง */
.content {
  position: relative;
  max-width: 800px;
  margin: 60px auto;
  padding: 100px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  z-index: 1;
}