h1 {
    font-size: 40px;
   font-family: 'Itim', cursive;
    margin-bottom: 0cap;
    margin-top: 0cap;
}

h2 { font-size: 30px;
   font-family: 'Itim', cursive;
    margin-bottom: 0cap;
    margin-top: 0cap;}

  h3 { font-size: 25px;
   font-family: 'Itim', cursive;
    }






p {
    font-size: larger;
    font-family: 'Itim', cursive;
}

#song {
    width: 90%;
    margin-bottom: -1cap;
    margin-top: 0cap;

    
}



body {
    text-align: center;
     margin: 0;
    
     
}

.state-0 {font-family: 'Itim', cursive;}
.state-0 { background: rgb(255, 83, 21); }
.state-0 {padding: 14px 28px;}
.state-0 {border-radius: 999px;}
.state-0 {background: linear-gradient(135deg, #ff9a9e, #fac4e9);}
.state-0 { color: #fff;}
.state-0 { font-weight: bold;}
.state-0 {box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4);}
.state-0 {width: 2cm;}

.state-9 { background: rgb(85, 255, 0); }
.state-9{padding: 14px 28px;}
.state-9{border-radius: 999px;}
.state-9{background: linear-gradient(135deg, #ff9a9e, #fac4e9);}
.state-9{ color: #fff;}
.state-9 { font-weight: bold;}
.state-9 {box-shadow: 0 8px 20px rgba(255, 105, 180, 0.4);}
.state-9 {width: 5cm;}


body::before {
    
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(184, 148, 142, 0.4);
 
}

.bg {
  position: fixed;
  inset: 0;
  background-image: url("https://media1.tenor.com/m/WBDOBnaOGtkAAAAC/falling-pink-hearts.gif");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -2;
}


.content {
  position: relative;
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  z-index: 1;
}

